/**
 * Resoponsive styles
 */

@media screen and (min-width: 2000px) {
	.hero-image-wrapper .hero-image {
		right: 20%;
	}
}

@media screen and (min-width: 1700px) {
	
}


@media screen and (max-width: 1200px) {
	.hero-text {
		width: 50%;
	}

	.hero-bottom-wrapper .container {
		width: 90%;
	}

	.hero-image {
		right: 10%;
	}
}


@media screen and (max-width: 960px) {
	#hero {
		overflow: hidden;
	}

	.hero-text {
		z-index: 10;
	}

	.hero-text,
	.hero-image-wrapper {
		width: 100%;
		text-align: center;
	}

	.hero-text h1{
		text-shadow: 1px 1px 5px #666;
	}

	.hero-cta {
		box-shadow: 0 0 5px #666;
		text-shadow: 1px 1px 1px #54d4f7;
	}

	.hero-bottom-wrapper { 
		text-shadow: 1px 1px 1px #54d4f7;
	}

	.hero-image {
		position: absolute;
		right: 5%;
		width: auto;
		max-width: 90%;
		z-index: 9;
	}
}


@media screen and (max-width: 600px) {
	#hero {
		padding-bottom: 60px;
	}
}