/**
 * premise theme custom styles
 */

.home-hero {
	padding-top: 60px;
}

.hero-cta.pwps-btn.pwps-btn-lg {
	margin: 30px auto;
	background-color: #54D4F7;
	border: 0;
	border-radius: 2px;
	color: #fcfcfc;
}

.home-spliview .psv-compare-wrapper {
	margin-top: 0;
	margin-bottom: 0;
}


.whats-special {
	margin-bottom: 30px;
}



/*
	Styles to copy to parent theme
 */

.pwps-btn.pwps-btn-lg {
	padding: 25px 40px;
	font-size: 20px;
}



.pwps-post-content iframe {
	width: 100%;
	box-sizing: border-box;
}

pre {
	border-right: 1px solid #ccc !important;
	display: block;
	box-sizing: border-box;
	padding: 20px 10px !important;
	background-color: #fcfcfc;
}

pre code {
	padding: 0;
	background-color: transparent;
	/*color: #000;*/
	font-size: 16px;
	line-height: 24px;
}